@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">

         <style>
			 body{
    color: @(Model.Colour);
		}
</style>
  </head>
  <body>
<h1>@Model.Name</h1>
<h2>@Model.Title</h2>

@if(Model.Names != null && Model.Names.Any())
{
	<ul>
		@foreach(var name in Model.Names)
		{
		<li>@name</li>
		}
	</ul>
}
@if (Model.Image != null && !Model.HideLion)
{
	<img style="width: 300px; height:auto;" src="@Model.Image.Url()" alt="Lion"/>
}
@Model.BodyText
  </body>
</html>